@import "./normalize.css";

:root {
    --color-text: #666;
    --color-high-text: #ff5777;
    --color-tint: #ff8198;
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    -webkit-tap-highlight-color: transparent;
    background: var(--color-background);
    color: var(--color-text);
}

a {
    color: var(--color-text);
    text-decoration: none;
}

label {
    display: inline-block;
}